language: ruby
cache: bundler

rvm:
    - 2.1

before_script: 
    - bundle update

script: 
    - chmod +x ./assets/cibuild.sh
    - ./assets/cibuild.sh

# branch whitelist
branches:
  only:
    - gh-pages     # test the gh-pages branch

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer