# ElkArte Addon site Jekyll configuration

# Name of your site (this will show up at the top of your page and in the RSS feed)
name: ElkArte Addons

# Short description (goes below the title; it will also be used in the RSS feed)
description: Addons to extend / enhance the functionality of your forum.

# baseurl will often be '', but for a project page on gh-pages, it needs to
# be the project name.
baseurl: 'http://addons.elkarte.net'
#baseurl: ''

# This can be '' to hide the Github nav button
github: 'elkarte/addons'

# Set this to your UA-# value, or '' to disable the block completely
gaaccount: ''

# Gems
gems: [jekyll-paginate]

# Set this to your disqus shortname to enable comments. Note that the 'comments'
# setting below must also be true. Individual posts can override 'comments' to
# disable on a post-by-post basis
disqus: ''
comments: false

# Our permalinks will be addon category / addon name.html
permalink: /:categories/:title.html
paginate: 5

highlighter: rouge
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

exclude: [vendor]
