{% case cat %}
	{% when 'admin' %}
	<i class="glyphicon glyphicon-user lead text-primary" aria-hidden="true"></i>
	{% when 'utility' %}
	<i class="glyphicon glyphicon-wrench lead text-primary" aria-hidden="true"></i>
	{% when 'security' %}
	<i class="glyphicon glyphicon-eye-open lead text-primary" aria-hidden="true"></i>
	{% when 'enhancement' %}
	<i class="glyphicon glyphicon-bell lead text-primary" aria-hidden="true"></i>
	{% when 'feature' %}
	<i class="glyphicon glyphicon-leaf lead text-primary" aria-hidden="true"></i>
	{% when 'smiley' %}
	<i class="glyphicon glyphicon-heart-empty lead text-primary" aria-hidden="true"></i>
	{% when 'bbc' %}
	<i class="glyphicon glyphicon-edit lead text-primary" aria-hidden="true"></i>
	{% else %}
	<i class="glyphicon glyphicon-random lead text-primary" aria-hidden="true"></i>
{% endcase %}