{% case cat %}
	{% when 'admin' %}
	<i class="glyphicon glyphicon-user text-primary" aria-hidden="true"></i>
	{% when 'utility' %}
	<i class="glyphicon glyphicon-wrench text-primary" aria-hidden="true"></i>
	{% when 'security' %}
	<i class="glyphicon glyphicon-eye-open text-primary" aria-hidden="true"></i>
	{% when 'enhancement' %}
	<i class="glyphicon glyphicon-bell text-primary" aria-hidden="true"></i>
	{% when 'feature' %}
	<i class="glyphicon glyphicon-leaf text-primary" aria-hidden="true"></i>
	{% when 'smiley' %}
	<i class="glyphicon glyphicon-heart-empty text-primary" aria-hidden="true"></i>
	{% when 'bbc' %}
	<i class="glyphicon glyphicon-edit text-primary" aria-hidden="true"></i>
	{% else %}
	<i class="glyphicon glyphicon-random text-primary" aria-hidden="true"></i>
{% endcase %}