{% capture cat %}{{ page.category | downcase }}{% endcapture %}
{% include pretty_cat.html %}
<!-- General info block -->
<div class="panel panel-default">
	<div class="panel-body bg-info">
		<i class="glyphicon glyphicon-info-sign" style="font-size: 1.5em" aria-hidden="true"></i>
		{{ site.description }}
	</div>
</div>
<!-- Just note these are 3rd party, use at own peril -->
<div class="panel panel-default">
	<div class="panel-body bg-warning">
		<i class="glyphicon glyphicon-info-sign text-warning" style="font-size: 1.5em" aria-hidden="true"></i>
		This is a community contributed addon, it has not been tested nor code reviewed.
	</div>
</div>
<!-- Most recent from same category -->
<div class="panel panel-default">
	<div class="panel-body bg-info">
		<h4>Other {{ cat }}</h4>
		{% for category in site.categories %}
			{% if category[0] == page.category %}
		<ul>
				{% for posts in category %}
					{% for post in posts %}
						{% if post.title and post.title != page.title %}
			<li>
				<a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
				<br>
				<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i><span> {{ post.date | date: "%d %b %Y" }}</span>
			</li>
							{% if forloop.index == 5 %}
								{% break %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
		</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>
<!-- Just some links for the heck of it -->
<div class="panel panel-default">
	<div class="panel-body bg-info">
		{% include links-list.html %}
	</div>
</div>