<div class="panel panel-default">
	<div class="panel-body bg-info">
		<i class="glyphicon glyphicon-info-sign" style="font-size: 1.5em" aria-hidden="true"></i>
		{{ site.description }}
	</div>
</div>

<div class="list-group">
	<a href="#" class="list-group-item disabled">
		Categories
	</a>
	{% for categories in site.categories %}
		{% assign cat = categories[0] %}
		{% if page.current and page.current == categories[0] %}
	<a class="list-group-item active" href="{{ site.baseurl}}/categories/{{ categories[0] }}.html">
		<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i> {% include pretty_cat.html %} {{ cat }}
	</a>
		{% else %}
	<a class="list-group-item" href="{{ site.baseurl}}/categories/{{ categories[0] }}.html">
		{% include icon_cat.html %}{% include pretty_cat.html %} {{ cat }}
	</a>
		{% endif %}
	{% endfor %}
</div>

<div class="list-group">
	<a href="#" class="list-group-item disabled">
		Recent Updates
	</a>
	{% assign posts = (site.posts | sort: 'date') %}
		{% for post in posts reversed %}
	<a class="list-group-item" href="{{ site.baseurl}}{{ post.url }}">
		{{ post.title }}
		<br>
		<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i><span> {{ post.date | date: "%d %b %Y" }}</span>
	</a>
	{% if forloop.index == 5 %}
		{% break %}
	{% endif %}
{% endfor %}
</div>

{% include links-list.html %}