{% capture cat %}{{ page.category | downcase }}{% endcapture %}
{% include pretty_cat.html %}
<!-- Just note these are 3rd party, use at own peril -->
<div class="panel panel-danger alert">
	<div class="panel-body bg-warning">
		<i class="glyphicon glyphicon-info-sign text-warning" style="font-size: 1.5em" aria-hidden="true"></i>
		This is a community contributed addon, it has not been tested nor code reviewed.
	</div>
</div>
<!-- Most recent from same category -->
<div class="list-group">
	<a href="#" class="list-group-item disabled">
		Other <u>{{ cat }}</u> Addons
	</a>
	{% for category in site.categories %}
		{% if category[0] == page.category %}
			{% for posts in category %}
				{% for post in posts %}
					{% if post.title and post.title != page.title %}
				<a class="list-group-item" href="{{ site.baseurl}}{{ post.url }}">
					{{ post.title }}
					<br>
					<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i><span> {{ post.date | date: "%d %b %Y" }}</span>
				</a>
						{% if forloop.index == 8 %}
							{% break %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
<!-- Others from the same author -->
<div class="list-group">
	<a href="#" class="list-group-item disabled">
		More addons from <u>{{ page.author }}</u>
	</a>
	{% assign authors = site.posts | group_by: "author" %}
	{% for aposts in authors %}
		{% if aposts.name == page.author %}
			{% for post in aposts.items %}
				{% if post.title != page.title %}
			<a class="list-group-item"href="{{ site.baseurl}}{{ post.url }}">
				{{ post.title }}
				<br>
				<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i><span> {{ post.date | date: "%d %b %Y" }}</span>
			</a>
					{% if forloop.index == 8 %}
						{% break %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
<!-- Just some links for the heck of it -->
{% include links-list.html %}